doctype html
html(lan="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
		title Route Creator
		link(rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="css/main.css")
		script(type="text/javascript" src!="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYaSjbtIP5UYEe-LMpA334-xiHQjsY08A&sensor=false")
		script(type="text/javascript" src="js/map.js")
	body
		div.container
			div.row
				div.col-xs-3
					form
						div.form-group
							label.sr-only(for="address-input") Address
							input#address-input(placeholder="Zip Code")
						div.form-group
							label.sr-only(for="address-input") Distance
							input#address-input(placeholder="Distance")							
				div.col-xs-9 Map
					div#map-canvas
	script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="js/main.js")
